@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-xs: 30rem;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: Estedad;
  src: url(../public/assets/Estedad-Regular.woff2);
}

* {
  font-family: Estedad;
}

html {
  max-width: 100% !important;
}

.swiper-button-prev {
  fill: white !important;
  width: 48px;
  color: white !important;
}


.swiper-pagination-bullet-active {
  @apply !bg-[#417F56] cursor-pointer p-0.5 sm:p-1.5 sm:shadow-[0px_0px_0px_3px_#417f562f] shadow-[0px_0px_0px_2px_#417f562f]
}

.swiper-pagination-bullet {
  @apply cursor-pointer !bg-[#417F56]
}




.swiper-slider-item {
  display: flex !important;

}

.swiper-wrapper2 {
  display: flex !important;
}


.swiper-button-next {
  fill: white !important;
  width: 48px;
  position: absolute;

  color: white !important;
}

body {
  max-width: 100% !important;
}

/* 
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000080;
  
  border-radius: 99999px !important;  
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 99999px !important;


  
/* https://css-shape.com/rounded-tab/ */
.inverted-radius {
  --r: 25px;
  line-height: 1.8;

  padding-inline: .5em;
  border-inline: var(--r) solid #0000;
  border-radius: calc(2*var(--r)) calc(2*var(--r)) 0 0/var(--r);
  mask:
    radial-gradient(var(--r) at var(--r) 0, #0000 98%, #000 101%) calc(-1*var(--r)) 100%/100% var(--r) repeat-x,
    conic-gradient(#000 0 0) padding-box;
  background: #ffffff border-box;
  width: 150px;
}


.inverted-radius2 {
  --r: 15px;
  line-height: 1.8;
  padding-inline: .5em;
  border-inline: var(--r) solid #0000;
  border-radius: calc(2*var(--r)) calc(2*var(--r)) 0 0/var(--r);
  mask:
    radial-gradient(var(--r) at var(--r) 0, #0000 98%, #000 101%) calc(-1*var(--r)) 100%/100% var(--r) repeat-x,
    conic-gradient(#000 0 0) padding-box;
  background: #ffffff border-box;
  width: 120px;
}

.BgImageGradint {
  background: linear-gradient(360deg, #000000 0%, rgba(255, 255, 255, 0) 60%);
}

.scroller {
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
}

.scroller2 {
  padding: 1rem;
  scroll-snap-align: start;
}